<html>
<h1>Login</h1>
<div>Login using existing credentials</div>
<div style="background-image: url('the-town-bg-02.jpg');"></div>
<form method="post" action="/auth/login">
    {{> authform}}
</form>
</html>